[include lcd_tweaks.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_0F50000F48104AAFB6A9675DC62000F5-if00
[mcu z]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_04C0FF0E02094AAF459A5E5DC32000F5-if00

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 4000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 400   			#Max ?
square_corner_velocity: 5.0  #Can experiment with 8.0, default 5.0

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X on mcu_xye (B Motor)
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: 0.0125
endstop_pin: P1.29 #x
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 95   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: P1.9
microsteps: 16
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
##	Connected to Y on mcu_xye (A Motor)
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
step_distance: 0.0125
endstop_pin: P1.28 
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 95  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: P1.8
microsteps: 16
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z MCU - In X Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: z:P2.2
dir_pin: !z:P2.6
enable_pin: !z:P2.1
step_distance: 0.00250
endstop_pin: z:P1.27
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
position_max: 330

##--------------------------------------------------------------------
position_min: -5
homing_speed: 10.0
second_homing_speed: 3.0
homing_retract_dist: 3.0

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: z:P1.10
microsteps: 16
interpolate: true
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z MCU - In Y Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: z:P0.19
dir_pin: z:P0.20
enable_pin: !z:P2.8
step_distance: 0.00250

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: z:P1.9
microsteps: 16
interpolate: true
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z MCU - In Z Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: z:P0.22
dir_pin: !z:P2.11
enable_pin: !z:P0.21
step_distance: 0.00250

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: z:P1.8
microsteps: 16
interpolate: true
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z MCU - In E0 Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: z:P2.13
dir_pin: z:P0.11
enable_pin: !z:P2.12
step_distance: 0.00250

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: z:P1.4
microsteps: 16
interpolate: true
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Extruder
#####################################################################

#	E0 on MCU X/Y
[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
##	16 microsteps Mobius 3 ~= 0.00180
##	Update value below when you perform extruder calibration
##	Higher value means less filament extruded
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	step_distance = 98 / 100 * step_distance_old
##  0.00240 a good starting value for Afterburner, 0.00180 for Mobius
step_distance: 0.00240 
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: P2.7
sensor_type: PT1000
sensor_pin: P0.24
pullup_resistor: 4650
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
pressure_advance: 0.05 #0.03735
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

##	E0 on MCU X/Y
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: P1.4
microsteps: 16
interpolate: false
run_current: 0.5
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - Z board, Fan Pin
heater_pin: z:P2.3
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: z:P0.25
max_power: 0.6
min_temp: 10
max_temp: 115
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^z:P0.10
x_offset: 0
y_offset: 25.0
#z_offset: 0
speed: 10.0 #was 10
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3


#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE1 Connector
pin: P2.4
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 60.0
fan_speed: 0.8

[fan]
##	Print Cooling Fan - XYE board, Fan Pin
pin: P2.3
kick_start_time: 0.5
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - Z board, HE1 Connector
pin: z:P2.7
kick_start_time: 0.5
heater: heater_bed
heater_temp: 60.0
fan_speed: 0.4

[heater_fan exhaust_fan]
##	Exhaust fan - Z board, HE0 Connector
pin: z:P2.4
max_power: 0.4
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0

[temperature_sensor chamber]
sensor_type: ATC Semitec 104GT-2
sensor_pin: z:P0.23
min_temp: 10
max_temp: 100
gcode_id: C

#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
pin: z:P2.5
pwm: True
shutdown_value: 0
value: 0
scale: 1
cycle_time: 0.01
hardware_pwm: False

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[homing_override]
axes: z
set_position_z: 0
gcode:
   M117 Homing...
   G90
   G0 Z5 F600
   G28 X Y
   #end switch position
   G0 X233 Y350 F3600 
   
   G28 Z
   G0 Z10 F1800
   G0 X175 Y175 Z90 F3600
#--------------------------------------------------------------------

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	50,25
	50,275
	300,275
	300,25

#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

#####################################################################
# 	Displays
#####################################################################

## 	Uncomment the display that you have. Display connects to Z MCU
#--------------------------------------------------------------------

######################################################################
# Beeper
######################################################################

# M300 : Play tone. Beeper support, as commonly found on usual LCD
# displays (i.e. RepRapDiscount 2004 Smart Controller, RepRapDiscount
# 12864 Full Graphic). This defines a custom I/O pin and a custom
# GCODE macro.  Usage:
#   M300 [P<ms>] [S<Hz>]
#   P is the tone duration, S the tone frequency.
# The frequency won't be pitch perfect.

[output_pin BEEPER_pin]
pin: z:P1.18
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   PWM frequency : 0.001 = 1ms will give a base tone of 1kHz
scale: 1000
#   PWM parameter will be in the range of (0-1000 Hz).
#   Although not pitch perfect.

[gcode_macro M300]
default_parameter_S: 1000
#   Use a default 1kHz tone if S is omitted.
default_parameter_P: 100
#   Use a 10ms duration is P is omitted.
gcode:
    SET_PIN PIN=BEEPER_pin VALUE={S}
    G4 P{P}
    SET_PIN PIN=BEEPER_pin VALUE=0
#--------------------------------------------------------------------

[gcode_macro Finished]
gcode:

[display]
display_group: __voron_display
##	mini12864 LCD Display
lcd_type: uc1701
cs_pin: P1.18
a0_pin: P1.19
encoder_pins: ^P3.25,^P3.26
click_pin: ^!P0.28
contrast: 63

[neopixel fysetc_mini12864]
pin: P1.21
chain_count: 3
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
color_order_GRB: False

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=fysetc_mini12864 RED=0.88 GREEN=0.93 BLUE=0.88 INDEX=1
        SET_LED LED=fysetc_mini12864 RED=0.88 GREEN=0.93 BLUE=0.88 INDEX=2
        SET_LED LED=fysetc_mini12864 RED=0.88 GREEN=0.93 BLUE=0.88 INDEX=3 TRANSMIT=1

[delayed_gcode init]
initial_duration: 0.1
gcode:
	set_caselight s=1

#####################################################################
# 	Macros
#####################################################################
[force_move]
enable_force_move: True

[gcode_macro G32]
gcode:
	M117 Gantry Level...
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X175 Y175 Z20 F6000
	M117 Gantry Level Done
#[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
#set_caselight s=1
#gcode:
#	set_caselight s=1
#    G28                            ; home all axes
#    G1 Z20 F3000                   ; move nozzle away from bed
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
#default_parameter_BED_TEMP: 90
#default_parameter_EXTRUDER_TEMP: 240
gcode:
	set_caselight s=1
	M300 S350 P1000
	M117 Heating...
	M140 S{BED_TEMP}                         ; set bed final temp
	M104 S{EXTRUDER_TEMP}                         ; set extruder final temp
	M190 S{BED_TEMP}                         ; wait for bed final temp
	M109 S{EXTRUDER_TEMP}                         ; wait for extruder final temp
	#M900
	G21 ; set units to millimeters
	G90 ; use absolute coordinates
	M83 ; use relative distances for extrusion
	G32                            ; home all axes
	G1 Z20 F3000                   ; move nozzle away from bed
	M117 Printing...
	set_caselight s=0

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X175 Y5 F3600            ; park nozzle at rear
	M300 S55 P150
	M300 S0 P300
	M300 S55 P150
	set_caselight s=1
	M300 S0 P1000
	M117 Done...

[gcode_macro LightsOn]
gcode:
	set_caselight s=1

[gcode_macro LightsOff]
gcode:
	set_caselight s=0
	
[gcode_macro SET_CASELIGHT]
# Control chamber LED, 0.0-1.0
default_parameter_S=1.0

gcode:
    set_pin pin=caselight value={S}
	
	
[virtual_sdcard]
path: ~/sdcard

[pause_resume]
[display_status]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 36.368
#*# pid_ki = 0.951
#*# pid_kd = 347.764
#*#
#*# [probe]
#*# z_offset = 0.700
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.991
#*# pid_ki = 1.182
#*# pid_kd = 132.142
#*#
#*# [stepper_z]
#*# position_endstop = -1.150
